<div ng-app="myApp" ng-controller="homeCtrl">
    <div class="header">
        <h2>STILINGUE PROJECT</h2>
    </div>
    <div class="container">
        <div class="filter">
            <div class="form-group">
                <form>
                    <div class="form-group">
                        <label class="subtitle" for="exampleInputEmail1">Filter</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Search..." ng-model="textFilter">
                        <div class="divNames" ng-repeat="name in nameList | filter:textFilter">
                            <p ng-click="createObjectScope(name.sequence)">{{name.text}}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="box-content">
            <div class="info">
                <div class="title">
                    <h3>
                        {{name}}
                        <span class="pronounce">{{pronounce}}</span>
                    </h3>
                </div>
                <div ng-repeat="meaning in meanings" class="description">
                    <p>{{meaning.text}}</p>
                </div>
            </div>
            <div class="graph" id="cy"></div>
        </div>

        <div class="box-group">
            <div class="options">
                <label class="subtitle" for="exampleInputEmail1">Configuration</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="layoutSelect">Layout</label>
                    </div>
                    <select class="custom-select" id="layoutSelect" ng-model="layout" ng-change="setShape(shape)">
                        <option ng-repeat="layout in layoutList" value="{{layout}}">{{layout}}</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="shapeSelect">Shape</label>
                    </div>
                    <select class="custom-select" id="shapeSelect" ng-model="shape" ng-change="setShape(shape)">
                        <option ng-repeat="shape in shapeList" value="{{shape}}">{{shape}}</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="backgroundColorSelect">Background Color</label>
                    </div>
                    <select class="custom-select" id="backgroundColorSelect" ng-model="backgroundColor"
                        ng-change="setBackgroundColor(backgroundColor)">
                        <option ng-repeat="backgroundColor in backgroundColorList" value="{{backgroundColor}}">
                            {{backgroundColor}}</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="lineColorSelect">Line Color</label>
                    </div>
                    <select class="custom-select" id="lineColorSelect" ng-model="lineColor"
                        ng-change="setLineColor(lineColor)">
                        <option ng-repeat="lineColor in lineColorList" value="{{lineColor}}">
                            {{lineColor}}</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="resultType">Result by</label>
                    </div>
                    <select class="custom-select" id="resultType" ng-model="resultType"
                        ng-change="setResultType(resultType)">
                        <option ng-repeat="result in resultTypeList" value="{{result.id}}">
                            {{result.name}}</option>
                    </select>
                </div>
            </div>

            <div class="quotes">
                <label class="subtitle" for="exampleInputEmail1">Quotes</label>
                <div ng-repeat="quote in quotes" class="card">
                    <div class="card-body">
                        <p>{{quote.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>