/* app css stylesheet */

.header {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
}

.container {
  padding: 40px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.filter .subtitle,
.options .subtitle,
.quotes .subtitle {
  font-style: italic;
  font-weight: bold;
  font-size: 18;
}

/* LEFT */
.divNames {
  margin: 5px;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.divNames p {
  margin: 5px;
}

/* CENTER */
.info .title,
.pronounce {
  font-style: italic;
  font-weight: bold;
}

.title .pronounce {
  font-size: 14px;
}

.info .description {
  font-style: italic;
  font-size: 12px;
}

.box-content {
  max-width: 600px;
  min-width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.graph {
  width: 45%;
  max-width: 600px;
  height: 50%;
  position: absolute;
  top: 300px;
}

/* RIGHT */
.box-group {
  width: 20%;
}
.quotes {
  margin-top: 50px;
}

.quotes .card {
  margin: 5px;
}
.quotes .card-body {
  padding: 10px;
}
.quotes p {
  font-size: 12px;
  font-style: italic;
}
